body {
    color:white;
    background-image: url("CallOfDuty.jpg");   
}
h2{
    text-align: center;
}
#table{
    background-color:rgba(26, 26, 26, 0.8);
    width:500px;
    height: 300px;
    border-radius: 15px;
    border: solid;
    
    
    position: static;
    
}
img{
    position: relative;
    height: 150px;
    width: 250px;
    left: 300px;
}
a{
    left: 30px;
}

